@import "~reset-css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --background-color: #f5f8ff;
  --color: #435379;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--color);
  transition: background-color 1000ms linear;
  transition: color 1000ms linear;
}
